 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     height: 100%;
     width: 100%;
 }

 .main {
     background-image: url(juni/images/hero-banner.png);
     height: 659px;
     background-size: max(1200px, 100vw);
     background-repeat: no-repeat;
     background-position: center 1px;

 }

 img {
     width: 155px;
     display: block;
 }

 .logo {
     padding-left: 44px;
     margin-top: 13px;

 }

 .navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 8%;
     background-color: white;
     height: 75px;
 }

 .nav-links {
     display: flex;
     align-items: center;
     gap: 35px;
 }

 .nav-links a {
     text-decoration: none;
     color: #0f172a;
     font-weight: 500;
 }

 .icon-container {
     display: flex;
     align-items: center;
     gap: 24px;
     background-color: #ffffff;
     padding: 15px;

     cursor: pointer;
 }

 .icon-wrapper {
     position: relative;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 23px;
     height: 23px;
     font-family: 'Inter', sans-serif;
     font-weight: 900;
 }

 .hero-content {
     width: 45%;
     z-index: 2;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     flex-direction: column;
 }

 .subtitle {
     font-size: 40px;
     font-weight: 300;
     color: #334155;
     margin-bottom: 5px;
     padding-left: 125px;
 }

 .title {
     font-size: 48px;
     font-weight: 700;
     color: #0f172a;
     line-height: 1.0;
     margin-bottom: 20px;
     padding-left: 262px;
 }

 .description {
     font-size: 15px;
     color: #22272e;
     line-height: 1.5;
     margin-bottom: -9px;
     min-width: 760px;
     padding-left: 303px;
     text-align: justify;

 }

 .btn-shop {
     background-color: #ff6f61;
     color: white;
     padding: 12px 30px;
     font-weight: 600;
     cursor: pointer;
     border-color: transparent;

 }

 .btn-shop i {
     margin-left: 8px;
     font-size: 14px;
 }

 .btn-shop:hover {
     background-color: #e55b4e;
     transform: translateY(-2px);
 }

 .arrow-icon {
     display: inline-block;
     vertical-align: middle;
 }

 .hero-content {
     font-family: 'Martel Sans', sans-serif;
     height: calc(100% - 100px);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: white;
     position: relative;
     gap: 23px;
     padding: 0 30px;
     max-width: 1900px;
 }

 .image-container {
     display: flex;
     align-items: center;
     gap: 1px;
     width: 100%;
     flex-direction: row;
     justify-content: space-around;
     padding: 4px 195px;
     height: 420px;
     text-align: center;
 }

 .img1 {
     background-image: url(juni/images/collection-1.jpg);
 }

 .img2 {
     background-image: url(juni/images/collection-2.jpg);
 }

 .img3 {
     background-image: url(juni/images/collection-3.jpg);
 }

 .box {
     width: 400px;
     height: 350px;
     background-size: cover;
     background-position: center;
     margin-top: 60px;
 }

 h3 {
     font-weight: 600;
     letter-spacing: 0.5px;
     font-size: 20px;
     text-align: center;
     align-items: center;
     margin-top: 5px;
     width: 100%;
 }

 .ex-btn button {
     justify-content: center;
     align-items: center;
     padding-left: 23px;
     font-weight: 400;
 }

 .explore-btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     padding: 12px 35px;
     border: 1px solid #000000;
     background-color: transparent;
     color: #000000;
     text-decoration: none;
     font-size: 15px;
     font-weight: 400;
     margin-top: 217px;
 }

 .product {
     text-align: center;
     margin-top: 155px;
 }

 .section-pro {
     font-weight: 700;
     font-size: 36px;
 }

 .filter-buttons {
     gap: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .btn-filter {
     font-size: 14px;
     font-weight: 600;
     color: #313a46;
     background-color: transparent;
     border: 0.5px solid #e2e8f0;
     padding: 13px 20px;
     border-radius: 50px;
     cursor: pointer;

 }

 .btn-active {
     color: #ffffff;
     background-color: #ff6b61;
     border-color: transparent;
     padding: 13px 20px;
     border-radius: 50px;
     cursor: pointer;
     font-size: 14px;
     font-weight: 600;
 }

 .product-card {
     width: 90%;
     padding: 83px;
     margin: 100px auto;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }

 .card-banner {
     transition: 1s;
     margin: -94px 10px;

 }

 .card-banner img {
     display: block;
     width: 301px;
     transition: transform 0.3s ease;
 }

 .card-banner:hover img {
     transform: translateY(-10px);
     z-index: 2;
 }

 .card-cat {
     text-align: center;
     margin-top: 20px;
 }

 .card-cat:hover {
     display: block;
     color: #e55b4e;
 }

 .card-banner.card-title {
     margin-top: 7px;
 }

 .card-title:hover {
     display: block;
     color: #e55b4e;
 }


 .value {
     text-align: center;
     color: #ff6b61;
     margin-top: 5px;
     font-size: 16px;
     font-weight: 600;

 }

 del {
     color: grey;
 }

 .product-container {
     margin-top: 10px;
     width: 90%;
     padding: 20px;
     margin: 205px auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .card-shoe {
     padding: 30px 20px;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: row;
     padding-inline: 50px;
     gap: 20px;

 }

 .cta-card {
     position: relative;
     background-size: cover;
     display: flex;
     align-items: center;

 }

 .cta-card img {
     height: 270px;
     width: 636px;
 }

 .cta-card .card-subtitle {
     position: absolute;
     padding-left: 50px;
     margin-bottom: 157px;
     font-size: 18px;
     font-weight: 400;
     color: white;
 }

 .cta-card .card-name {
     position: absolute;
     margin-left: 46px;
     font-size: 36px;
     font-weight: 700;
     text-align: justify;
     line-height: 1.3;
     margin-bottom: 36px;
     color: white;
 }

 .cta-card .banner-link {
     position: absolute;
     color: white;
     margin-top: 150px;
     padding-left: 50px;
 }

 .special-banner {
     display: flex;
     align-items: center;
     width: 100%;
     text-align: center;
     flex-direction: column;
     position: relative;
 }

 .img7 {
     background-image: url(juni/images/special-banner.jpg);
     height: 589px;
     width: 345px;
     margin-right: 965px;
     margin-top: 98px;
 }

 .special-banner .card-juni {
     color: white;
 }

 .explore-link {
     color: #ffffff;
     text-decoration: none;
     font-size: 18px;
     font-weight: 600;
     border-bottom: 2px solid #ffffff;
     padding-bottom: 5px;
     margin-top: 460px;
     position: absolute;
     margin-left: -50px;
 }



 .special-banner .text {
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
     margin-top: -594px;
     font-size: 36px;
     font-weight: 700;
     font-family: "Josefin Sans", sans-serif;
     padding-right: 220px;
 }

 .line {
     border: none;
     border-top: 1.5px solid #e0e0e0;
     margin-top: -18px;
     width: 614px;
     height: 1px;
     margin-right: -682px;
 }

 .product-card .card-banner img {
     margin-top: -20px;
 }

 .card-icon {
    width: 73px;
    height: 73px;
      display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     background-color: #ff6b62;
     border-radius: 50%;
     margin: 0px 200px;
 }

 .card-icon img {
    width: 45px;
  height: auto;
  filter: brightness(0) invert(1);
 }

 