 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 body {
     height: 100%;
     width: 100%;
 }

 .main {
     background-image: url(juni/images/hero-banner.png);
     height: 712px;
     background-size: max(1200px, 100vw);
     background-repeat: no-repeat;
     background-position: center 1px;

 }

 img {
     width: 155px;
     display: block;
 }

 .logo {
     padding-left: 44px;
     margin-top: 13px;

 }

 .main {
     position: sticky;

 }

 .navbar-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 8%;
     background-color: white;
     height: 75px;
 }

 .nav-links {
     display: flex;
     align-items: center;
     gap: 35px;
 }

 .nav-links a {
     text-decoration: none;
     color: #0f172a;
     font-weight: 500;
 }

 .icon-container {
     display: flex;
     align-items: center;
     gap: 24px;
     background-color: #ffffff;
     padding: 15px;
     cursor: pointer;
 }

 .icon-wrapper {
     position: relative;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     width: 23px;
     height: 23px;
     font-family: 'Inter', sans-serif;
     font-weight: 900;
 }

 .hero-content {
     width: 45%;
     z-index: 2;
     align-items: center;
     text-align: center;
     justify-content: space-between;
     flex-direction: column;
 }

 .subtitle {
     font-size: 40px;
     font-weight: 300;
     color: #334155;
     margin-bottom: 5px;
     padding-left: 125px;
 }

 .title {
     font-size: 48px;
     font-weight: 700;
     color: #0f172a;
     line-height: 1.0;
     margin-bottom: 20px;
     padding-left: 262px;
 }

 .description {
     font-size: 15px;
     color: #22272e;
     line-height: 1.5;
     margin-bottom: -9px;
     min-width: 760px;
     padding-left: 303px;
     text-align: justify;

 }

 .btn-shop {
     background-color: #ff6f61;
     color: white;
     padding: 12px 30px;
     font-weight: 600;
     cursor: pointer;
     border-color: transparent;

 }

 .btn-shop i {
     margin-left: 8px;
     font-size: 14px;
 }

 .btn-shop:hover {
     background-color: #e55b4e;
     transform: translateY(-2px);
 }

 .arrow-icon {
     display: inline-block;
     vertical-align: middle;
 }

 .hero-content {
     font-family: 'Martel Sans', sans-serif;
     height: calc(100% - 100px);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     color: white;
     position: relative;
     gap: 23px;
     padding: 49px;

 }

 .image-container {
     display: flex;
     align-items: center;
     gap: 1px;
     width: 100%;
     flex-direction: row;
     justify-content: space-around;
     padding: 12px 308px;
     height: 420px;
     text-align: center;
 }

 .img1 {
     background-image: url(juni/images/collection-1.jpg);
 }

 .img2 {
     background-image: url(juni/images/collection-2.jpg);
 }

 .img3 {
     background-image: url(juni/images/collection-3.jpg);
 }

 .box {
     width: 400px;
     height: 350px;
     background-size: cover;
     background-position: center;
     margin-top: 125px;
 }

 h3 {
     font-weight: 600;
     letter-spacing: 0.5px;
     font-size: 20px;
     text-align: center;
     align-items: center;
     margin-top: 32px;
     width: 100%;
 }

 .ex-btn button {
     justify-content: center;
     align-items: center;
     padding-left: 23px;
     font-weight: 400;
 }

 .explore-btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     padding: 12px 35px;
     border: 1px solid #000000;
     background-color: transparent;
     color: #000000;
     text-decoration: none;
     font-size: 15px;
     font-weight: 400;
     margin-top: 217px;
 }

 .product {
     text-align: center;
     margin-top: 155px;
 }

 .section-pro {
     font-weight: 700;
     font-size: 36px;
 }

 .filter-buttons {
     gap: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .btn-filter {
     font-size: 14px;
     font-weight: 600;
     color: #313a46;
     background-color: transparent;
     border: 0.5px solid #e2e8f0;
     padding: 13px 20px;
     border-radius: 50px;
     cursor: pointer;

 }

 .btn-active {
     color: #ffffff;
     background-color: #ff6b61;
     border-color: transparent;
     padding: 13px 20px;
     border-radius: 50px;
     cursor: pointer;
     font-size: 14px;
     font-weight: 600;
 }

 .product-card {
     width: 90%;
     padding: 175px;
     margin: 100px auto;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
 }

 .card-banner {
     transition: 1s;
     margin: -94px 10px;

 }

 .card-banner img {
     display: block;
     width: 301px;
     transition: transform 0.3s ease;
 }

 .card-banner:hover img {
     transform: translateY(-10px);
     z-index: 2;
 }

 .card-cat {
     text-align: center;
     margin-top: 20px;
 }

 .card-cat:hover {
     display: block;
     color: #e55b4e;
 }

 .card-banner.card-title {
     margin-top: 7px;
 }

 .card-title:hover {
     display: block;
     color: #e55b4e;
 }


 .value {
     text-align: center;
     color: #ff6b61;
     margin-top: 5px;
     font-size: 16px;
     font-weight: 600;

 }

 del {
     color: grey;
 }

 .product-container {
     margin-top: 5px;
     width: 90%;
     padding: 20px;
     margin: 205px auto;
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 .product-container .card-title {
     margin-top: 5px;
 }

 .card-shoe {
     padding: 30px 20px;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: row;
     padding-inline: 50px;
     gap: 20px;

 }

 .cta-card {
     position: relative;
     background-size: cover;
     display: flex;
     align-items: center;

 }

 .cta-card img {
     height: 270px;
     width: 636px;
 }

 .cta-card .card-subtitle {
     position: absolute;
     padding-left: 50px;
     margin-bottom: 157px;
     font-size: 18px;
     font-weight: 400;
     color: white;
 }

 .cta-card .card-name {
     position: absolute;
     margin-left: 46px;
     font-size: 36px;
     font-weight: 700;
     text-align: justify;
     line-height: 1.3;
     margin-bottom: 36px;
     color: white;
 }

 .cta-card .banner-link {
     position: absolute;
     color: white;
     margin-top: 150px;
     padding-left: 50px;
 }

 .special-banner {
     display: flex;
     align-items: center;
     width: 100%;
     text-align: center;
     flex-direction: column;
     position: relative;
 }

 .img7 {
     background-image: url(juni/images/special-banner.jpg);
     height: 589px;
     width: 345px;
     margin-right: 965px;
     margin-top: 98px;
 }

 .special-banner .card-juni {
     color: white;
 }

 .explore-link {
     color: #ffffff;
     text-decoration: none;
     font-size: 18px;
     font-weight: 600;
     border-bottom: 2px solid #ffffff;
     padding-bottom: 5px;
     margin-top: 460px;
     position: absolute;
     margin-left: -50px;
 }



 .special-banner .text {
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
     margin-top: -594px;
     font-size: 36px;
     font-weight: 700;
     font-family: "Josefin Sans", sans-serif;
     padding-right: 220px;
 }

 .line {
     border: none;
     border-top: 1.5px solid #e0e0e0;
     margin-top: -18px;
     width: 614px;
     height: 1px;
     margin-right: -682px;
 }

 .product-card .card-title {
     margin-top: 5px;
 }

 .product-card .card-banner img {
     margin-top: -20px;
 }

 .sniping-container {
     display: flex;
     justify-content: space-between;
     text-align: center;
     margin: 200px;
     margin-top: -61px;
     margin-left: 327px;
 }

 .card-icon {
     width: 73px;
     height: 73px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #ff6b62;
     border-radius: 50%;
 }

 .sniping-container .card-icon img {
     width: 60%;
     height: auto;
     filter: brightness(0) invert(1);
 }

 .block-element {
     display: inline-block;
     margin-right: 100px;
     text-align: justify;
     margin-top: -26px;
 }

 .block-element .card-dog {
     font-weight: 400;
     font-size: 13px;
 }

 .instagram-post {
     display: flex;
 }

 .instagram-post img {
     width: 100%;
     height: 100%;
     margin-top: -73px;
 }

 .logo-design .logo {
     margin-top: 79px;
     margin-left: 265px;
 }

 .logo-design {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .social-container {
     margin-top: 79px;
     margin-right: 265px;
     display: flex;
     gap: 8px;
 }

 .social-box {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
     background-color: #e0e0e0;
     color: #424242;
     text-decoration: none;
     font-size: 18px;
 }

 .logo-design .line {
     margin-top: -18px;
     width: 614px;
     height: 1px;
     margin-right: -682px;
 }

 .container {
     display: flex;
     margin-left: 302px;
     margin-top: 80px;
     align-items: baseline;
     justify-content: space-around;
 }

 .footer-content {
     margin-top: 12px;
 }

 .footer-content .footer-title {
     margin-left: -90px;
     margin-bottom: 25px;
 }

 .links-list {
     list-style: none;
     border-bottom: none;
     margin-top: 26px;
     margin-right: 176px;
     line-height: 31px;
     color: #424242;
 }

 .timing-list {
     list-style: none;
     margin-top: 26px;
     margin-right: 140px;
     line-height: 31px;
 }

 .footer-contect {
     margin-top: 12px;
     margin-right: 116px;
 }

 .footer-contect .footer-title {
     margin-left: -119px;
 }

 .newsletter-text {
     margin-top: 26px;
 }

 .footer-contect .newsletter-form button {
     background-color: #ff6f61;
     color: white;
     border-color: transparent;
 }

 .social {
     line-height: 30px;
 }

 .social-media {
     line-height: 30px;

 }

 .links-list a i {
     font-size: 10px;
     margin-right: 10px;
     color: #777777;
 }

 .links-list a {
     text-decoration: none;
     color: #555555;
     font-size: 16px;
     display: flex;
     align-items: center;

 }

 .social span {
     font-size: 16px;
     color: #555555;
 }

 .social i {
     color: #ff6f61;
     margin-right: 12px;
     margin-top: 3px;
     width: 15px;
     text-align: center;
 }

 .social-media p {
     color: #555555;
     font-size: 16px;
 }

 .social-media .newsletter-form {
     color: #555555;
     font-size: 16px;
     margin-top: 17px;
 }

 .timing-list li span {
     color: #555555;
     font-size: 16px;

 }

 .social-media button {
     padding: 9px 20px;
 }

 .social-media input {
     padding: 9px 20px;
 }
 .footer-bottom{
    background-color: #000000;
    padding: 20px;
    margin-top: 95px;
 }
 .footer-bottom .copyright{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .footer-link {
  color: #ff4d29;           
  text-decoration: none;
 }